
.ImageView {
  display: inline-block;
  margin: 25px;
}

.ImageViewSelected {
  display: inline-block;
  border-radius: 8px;
  margin: 25px;
  border: 5px solid #FF0000;
}

.ol {
  list-style-position: inside;
  text-align: center;
  margin: 25px;
  padding: 0;
}

.li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.Leaderboard {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border: 2px solid #4CAF50;
  font-family: courier;
}

.Button {
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #4CAF50;
  font-size: 15px;
  margin: 2px;
  padding: 10px 24px;
  border-radius: 8px;
  height: 60px;
  width: 190px;
}

.Button:hover {
  background-color: #4CAF50;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
